<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://hd.unsplash.com/photo-1436018626274-89acd1d6ec9d');">
  <div class="banner-content">
    <h1>TIME TO DRINK</h1>
    <p>Best cocktails around your place.</p>
    <%= link_to "Create a new cocktail", "/cocktails/new", :class => "btn btn-primary" %>
  </div>
</div>


<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: url('<%= c.image_url %>');">
          <div class="card-category"><%= c.name %></div>
          <div class="card-description">
          <%= link_to "Info", "/cocktails/#{c.id}", :class => "btn btn-primary" %>
         </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


